#landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../images/textured-background.png');
}

#landing1-container {
    width: 100%;
    background-image: url('../../../images/draftqueens-landing1.png');
    height: 600px;
    width: 1400px;
}

.landing-card1 > button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 507px;
    margin-left: 160px;
    height: 50px;
    width: 200px;
    border: none;
    background-color: #f76900;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.landing-card1 > button:hover {
    cursor: pointer;
    background-color: #f9852c;
}

#landing2-container {
    width: 100%;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000E54;
}

#landing2-sport-leagues {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.landing-icon-sport {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-icon-sport:hover {
    color: #f76900;
}

.landing-icon-sport > p {
    margin: 0px;
    color: #000E54;
    text-align: center;
}

.landing-icon-sport > p:hover {
    color: #f76900;
    cursor: default;
}

#landing3-container {
    width: 100%;
    background-image: url('../../../images/draftqueens-landing3.png');
    height: 500px;
    width: 1360px;
    margin-bottom: 100px;
}

#fanswap-ad {
    padding-bottom: 50px;
}


@media (min-width: 1001px) and (max-width: 1200px) {
    #landing1-container {
        background-image: url('../../../images/landing1-large.png');
        background-repeat: no-repeat;
        background-position: center;
    }
    #landing3-container {
        background-image: url('../../../images/landing2-large.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

@media (min-width: 601px) and (max-width: 1000px) {
    #landing1-container {
        background-image: url('../../../images/landing1-med.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    #landing2-container {
        overflow-y: hidden;
        overflow-x: scroll;
        scrollbar-width: thin;
    }

    #landing3-container {
        background-image: url('../../../images/landing2-med.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    #fanswap-ad > a > img{
        width: 100%;
    }
}

@media (min-width: 375px) and (max-width: 600px) {
    #landing1-container {
        background-image: url('../../../images/landing1-small.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }

    #landing2-container {
        overflow-y: hidden;
        overflow-x: scroll;
        scrollbar-width: thin;
    }

    #landing3-container {
        background-image: url('../../../images/landing2-small.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    #fanswap-ad {
        display: none;
    }
}

@media (max-width: 374px) {
    #landing1-container {
        background-image: url('../../../images/landing1-small2.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }

    #landing2-container {
        overflow-y: hidden;
        overflow-x: scroll;
        scrollbar-width: thin;
    }

    #landing3-container {
        background-image: url('../../../images/landing2-small2.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }
    #fanswap-ad {
        display: none;
    }
}