#current-games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#current-games {
    width: 65%;
    margin-top: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: #ababab;
}

#today-games {
    background-color: #121212;
    padding: 10px;
    /* border: 1px solid blue; */
}

.game-table-header {
    width: 100%;
    color: #ababab;
}

.game-table-body {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #ababab;
    color: #ababab;
}

.data-field {
    background-color: #242424;
    font-size: 13px;
    padding: 20px;
    /* color: #f76900; */
}

#tomorrow-games {
    background-color: #121212;
    padding: 10px;
    /* border: 1px solid orange; */
}

#upcoming-games {
    background-color: #121212;
    padding: 10px;
    /* border: 1px solid green; */
}