.delete-modal {
    padding: 15px;
    color: black;
}

.delete-title {
    padding-left: 25px;
    color: black;
    padding-bottom: 20px;
    border-bottom: 1px solid #ababab;
}

.delete-confirmation {
    text-align: left;
    border-bottom: 1px solid #ababab;
}

.delete-confirmation > p {
    margin: 0px;
}

.buttons-container {
    width: 100%;
}

.cancel-delete-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 25px;
    margin-top: 20px;
}

.cancel-btn {
    background-color: #ababab;
    border: none;
    color: white;
    height: 35px;
    width: 25%;
}

.cancel-btn:hover {
    cursor: pointer;
    background-color: #242424;
}

.delete-btn {
    width: 25%;
    background-color: #f76900;
    border: none;
    color: white;
}

.delete-btn:hover {
    cursor: pointer;
    /* background-color: #f9852c; */
    background-color: #000E54;
}