#games-outside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#games-and-ad-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#create-game-btn-container {
    width: 100%;
    margin-bottom: 10px;
}

#games-and-btn-container {
    width: 50%;
}

#games-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: #ababab;
    background-color: #121212;
}


#create-game-btn {
    color: white;
    font-size: 13px;
    text-decoration: none;
}

#create-game-btn:hover {
    color: #ababab;
}

.game-table-header {
    color: #ababab;
}

.game-table-body {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #ababab;
    color: #ababab;
}

.data-field {
    background-color: #242424;
    font-size: 13px;
    padding: 20px;
}

.games-edit-delete-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: underline;
}

.open-modal-btn {
    color: white;
    text-decoration: underline;
}

#games-edit-btn, #games-delete-btn {
    color: white;
}

#games-edit-btn:hover, #games-delete-btn:hover {
    color: #f76900;
}

.team-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

