#games-outside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#games-and-ad-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#games-fanswap-ad {
    margin-top: 51px;
}

#create-game-btn-container {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#create-game-btn-container-logged-out {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#games-and-btn-container {
    width: 50%;
}

.games-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: #ababab;
    background-color: #121212;
}

#create-game-btn {
    color: white;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
}

#create-game-btn:hover {
    color: #ababab;
}

.game-table-header {
    color: #ababab;
}

.game-table-body {
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #ababab;
    color: #ababab;
}

.data-field {
    background-color: #242424;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    width: 22%;
    height: 18px;
}

.games-edit-delete-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: underline;
}

.games-edit-delete-btns > button {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: white;
    font-size: 12px;
}

.games-edit-delete-btns > button:hover {
    cursor: pointer;
    color: #f76900;
}

#games-edit-btn,
#add-odds-btn {
    color: white;
}

#games-edit-btn:hover, 
#add-odds-btn:hover {
    color: #f76900;
}

.team-and-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

#game-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 25px;
    font-size: 20px;
}

.pag-arrows {
    cursor: pointer;
}

.page:hover {
    cursor: pointer;
}

.selected-page {
    cursor: pointer;
    font-weight: bold;
    color: #f76900;
}

@media (max-width: 800px) {
    #create-game-btn-container {
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .search-bar {
        width: 100%;
    }

    #games-fanswap-ad {
        display: none;
    }
}

@media (max-width: 1000px) {
    #games-fanswap-ad {
        display: none;
    }
}
