#finished-games-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

#fanswap-ad {
    margin-top: 50px;
}

#finished-games {
    width: 50%;
    margin-top: 50px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: #ababab;
    background-color: #121212;
}

.finished-games-edit-delete-btns {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: underline;
}

.open-modal-btn {
    color: white;
    text-decoration: underline;
}

#finished-games-edit-btn, #finished-games-delete-btn {
    color: white;
}

#finished-games-edit-btn:hover, #finished-games-delete-btn:hover {
    color: #f76900;
}

#final-score {
    background-color: none;
    color: #f76900;
    font-weight: bold;
}

