#sports-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 25px;
    width: 100%;
    height: 75px;
    background-color: whitesmoke;
}

.sport-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000E54;
}

.selected-sport { 
    color: #f76900;
    cursor: pointer;
}

.sport-type:hover {
    color: #f76900;
    cursor: pointer;
}

.sport-type:active {
    color: #000E54;
    transform: translateY(4px);
}

.sport-type > p {
    font-size: 12px;
    margin-bottom: 0px;
}

.sport-name {
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}

.sport-league {
    font-size: 11px;
    font-weight: 400;
    margin-top: 2px;
}

#team-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#create-team-btn-container {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#create-team-btn-container-logged-out {
    margin-top: 25px;
    margin-bottom: 10px;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#create-team-btn {
    color: white;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: fit-content;
}

#create-team-btn:hover {
    color: #ababab;
}

.search-bar > input {
    width: 17em;
    height: 2.7em;
    border-radius: 8px;
    background-color: #242424;
    border: none;
    color: white;
    font-size: 15px;
    padding: 0px 15px 0px 15px;
}

.search-bar > input:focus {
    outline-color: #f76900;
}

#all-teams-container {
    width: 60%;
    background-color: #242424;
}

#team-table {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    height: 60vh;
}

#team-card {
    color: white;
    border-bottom: 1px solid #ababab;
}

.team-logo {
    height: 25px;
}

#teams-edit-delete-btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

#teams-edit-delete-btns > button {
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: white;
}

#teams-edit-delete-btns > button:hover {
    color: #f76900;
    cursor: pointer;
}

#update-team-btn {
    color: white;
    font-size: 24px;
}

#update-team-btn:hover {
    color: #f76900;
}

table {
    border-spacing: 10px;
    color: white;
}

@media (max-width: 375px) {
    #create-team-btn-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .search-bar > input {
        width: 100%;
    }
    
    #create-team-btn-container-logged-out {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .location-header,
    .sport-header {
        display: none;
    }
    .team-and-logo {
        font-size: 12px;
    }
    #update-team-btn {
        font-size: 20px;
    }
    #teams-edit-delete-btns > button {
        font-size: 20px;
    }
}


