html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
   }

body {
    margin: 0px;
    background-color: #000000;
    color: #ababab;
    font-family: Arial, Helvetica, sans-serif;
}

footer { 
    margin-top: auto 
}

.form-errors {
    color: red;
    font-size: 12px;
}

