#login-form {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
}

.form-label {
    color: black;
}

.form-errors {
    margin: 0px;
}