#create-odds-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#odds-back-btn-games-container {
    width: 60%;
}

#odds-game-container {
    margin-top: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    color: #ababab;
    background-color: #121212;
}

#odds-submit-btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.data-field-odds {
    background-color: #242424;
    font-size: 16px;
    padding: 10px;
    text-align: center;
    width: 22%;
    height: 18px;
    color: #f76900;
}

.data-field-odds > input {
    background-color: transparent;
    border: none;
    color: #f76900;
    text-align: center;
    font-size: 16px;
    height: 30px;
    /* border: 1px solid yellow; */
}

#submit-odds-btn {
    height: 35px;
    width: 15%;
    background-color: #f76900;
    border: none;
    color: white;
}

#submit-odds-btn:hover {
    cursor: pointer;
    background-color: #f9852c;
}